<!doctype html>
<html>
<head>
    <title>Report a Round</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img src="static/HighlandLogo.jpeg" alt="Logo">
    <h1>Report a Round</h1>
    <form method="post">
        Last name: <input type="text" name="last_name"><br>
        Date: <input type="text" name="date"><br>
        {% for i in range(1, 19) %}
            Score on hole {{ i }}: <input type="number" name="hole{{ i }}"><br>
        {% endfor %}
        <input type="submit" value="Report">
    </form>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
